<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Kaps</title>
</head>

<body>
    <div style="text-align:center">
        <!-- <canvas style="background-color:yellow;">This is canvas</canvas>  -->
        <canvas hidden id="canvas" width="500" height="500"> test board </canvas>
    </div>
    <link rel="stylesheet" href="/main.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="game.js"></script>
    
    <style>
        #canvas {
            border: 5px solid;
            border-radius: 3px;
            background-color: lightblue;
            padding: 0px;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f8f8;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        }

        input[type="text"],
        select {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: none;
            background-color: #f8f8f8;
            font-size: 16px;
            font-family: 'Helvetica Neue', sans-serif;
        }

        input[type="range"] {
            width: 100%;
            margin-bottom: 20px;
        }

        button[type="submit"] {
            background-color: #0077cc;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #005ea6;
        }

        label {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        #levels-display {
            display: inline-block;
            width: 40px;
            text-align: center;
            margin-left: 10px;
            /* float: left; */
        }

        .some-class {
            margin-top: 10px;
            display: flex;
            clear: none;
        }
    </style>
    <div id="menu">
        <table id="navTbl">
            <td style="width: 220px;">
                Join Game
            </td>
            <td style="width: 220px;">
                Create Game
            </td>
        </table>
        <div id="lists">
            <table style="background: rgb(103, 148, 247); width: 420px; height: 32px;">
                <tr id="item">
                    <td style="background: lightblue;">
                        hep
                    </td>
                    <td>
                       <button> dhd</button> hep
                    </td>
                    <td>
                        hep
                    </td>
                </tr>
            </table>
        </div>

        <div id="form">
            <label for="game-id">Game ID:</label>
            <input type="text" id="game-id" name="game-id" required>

            <label for="username">User Name:</label>
            <input type="text" id="username" name="username" required>

            <div style="display: flex;">
                <div style="margin-left: 15px; margin-right:15px;">
                    <label for="language">Language:</label>
                    <select id="language" name="language" required>
                        <option value="">Select a language</option>
                        <option value="english">English</option>
                        <option value="spanish">Spanish</option>
                        <option value="french">French</option>
                    </select>
                </div>

                <div style="margin-left: 15px; margin-right:15px;">
                    <label for="time">Game Length:</label>
                    <select id="time" name="time" required>
                        <option value="">Select a time</option>
                        <option value="10">10m</option>
                        <option value="5">5m</option>
                        <option value="3">3m</option>
                        <option value="2">2m</option>
                        <option value="1">1m</option>
                    </select>
                </div>
            </div>

            <label for="levels" style="float: left">Skill Level (ELO):
                <label for="levels-display">
                    <span id="levels-display">500</span>
                    <div class="some-class">
                        <input type="radio" class="radio" name="50p" value="50" id="50p" />
                        <label for="50p">± 50</label>
                        <input type="radio" class="radio" name="100p" value="100" id="100p" checked="true"/>
                        <label for="100p">± 100</label>
                        <input type="radio" class="radio" name="200p" value="200" id="200p" />
                        <label for="200p">±200</label>
                    </div>
                </label>
            </label>
            <input type="range" id="levels" name="levels" min="1" max="1000" step="5">


            <script>
                const levelsInput = document.getElementById('levels');
                const levelsDisplay = document.getElementById('levels-display');

                // Update the levels display when the slider value changes
                levelsInput.addEventListener('input', () => {
                    levelsDisplay.textContent = levelsInput.value;
                });

            </script>
            <div style="display:flex">
                <button type="submit" id="create-button">Create</button>
                <button type="submit" id="sumbit-button">Join</button>
            </div>
        </div>
    </div>

</body>

</html>