<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Kaps</title>
</head>

<body>
    <div>
        <div id="form2"
            style="padding: 10px; margin: 10px; border: 5px solid; border-radius: 5px; background-color: lavender;">
            <div style="padding: 5px;">
                <label> Username: </label>
                <input id="usernameInput" type="text">
                <button id="startBtn"> Start A Match </button>
            </div>
            <div style="padding: 5px;">
                <p id="startErrorMsg" hidden style="color: red;">Error: Type a Username</p>
                <p id="searchMsg" hidden style="color: #dab901;">Searching for a Player...</p>
                <p id="foundMsg" hidden style="color: green;">A player has been found! A New Game has Begun.</p>
                <p id="gameMsg" hidden style="color: black;">Begin</p>
                <p id="winMsg" hidden style="color: rgb(71, 192, 1); font-size: 20px; font-weight: bold;">YOU WON!!!</p>
                <p id="loseMsg" hidden style="color: rgb(206, 0, 0); font-size: 20px; font-weight: bold;">YOU LOST!!!
                </p>
            </div>
            <button hidden id="newGameBtn" style="padding: 10px; margin: 10px; background: lightcyan;"> New Game
            </button>
            <div>
                <text style="padding: 5px; ">
                    GAME ID:
                    <text id="gameID">#XXXX</text></text>
            </div>
            <div id="pvpInfo" style="padding: 5px;">
                <text class="P1">P1:</text>
                <text class="P1" id="p1Txt">User1</text>
                <text style="color: red; padding: 0px 5px 0px 5px;">-Versus- </text>
                <text class="P2">P2:</text>
                <text class="P2" id="p2Txt">User2</text>
            </div>
        </div>
        <canvas id="canvas" width="500" height="500"> test board </canvas>
    </div>
    <link rel="stylesheet" href="main.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="game.js"></script>

    <style>
        #canvas {
            border: 5px solid;
            border-radius: 3px;
            background-color: lightblue;
            padding: 0px;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f8f8;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        }

        input[type="text"],
        select {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: none;
            background-color: #f8f8f8;
            font-size: 16px;
            font-family: 'Helvetica Neue', sans-serif;
        }

        input[type="range"] {
            width: 100%;
            margin-bottom: 20px;
        }

        button[type="submit"] {
            background-color: #0077cc;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #005ea6;
        }

        label {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        #levels-display {
            display: inline-block;
            width: 40px;
            text-align: center;
            margin-left: 10px;
            /* float: left; */
        }

        .some-class {
            margin-top: 10px;
            display: flex;
            clear: none;
        }
    </style>
    <div id="menu">
        <table id="navTbl">
            <td
                style="width: 220px; border: 2px solid; border-color: black; background:rgba(81, 68, 255, 0.3); padding: 10px; margin: 5px;">
                Join Game
            </td>
            <td
                style="width: 220px; border: 2px solid; border-color: black; background:rgba(81, 68, 255, 0.3); padding: 10px; margin: 5px;">
                Create Game
            </td>
        </table>
        <div id="lists">
            <table style="background: rgb(103, 148, 247); width: 420px; height: 32px;">
                <tr>
                    <td>
                        #
                    </td>
                    <td>
                        User
                    </td>
                    <td>
                        Lang
                    </td>
                    <td>
                        Time
                    </td>
                    <td>
                        Skill
                    </td>
                    <td>
                        Play
                    </td>
                </tr>
                <tr id="item" style="background: lightblue;">
                    <td>
                        #1
                    </td>
                    <td>
                        username
                    </td>
                    <td>
                        Eng
                    </td>
                    <td>
                        5m
                    </td>
                    <td>
                        510
                    </td>
                    <td>
                        <button> Join </button>
                    </td>
                </tr>
            </table>
        </div>

        <div id="form">
            <label for="game-id">Game ID:</label>
            <input type="text" id="game-id" name="game-id" required>

            <label for="username">User Name:</label>
            <input type="text" id="username" name="username" required>

            <div style="display: flex;">
                <div style="margin-left: 15px; margin-right:15px;">
                    <label for="language">Language:</label>
                    <select id="language" name="language" required>
                        <option value="">Select a language</option>
                        <option value="english">English</option>
                        <option value="spanish">Spanish</option>
                        <option value="french">French</option>
                    </select>
                </div>

                <div style="margin-left: 15px; margin-right:15px;">
                    <label for="time">Game Length:</label>
                    <select id="time" name="time" required>
                        <option value="">Select a time</option>
                        <option value="10">10m</option>
                        <option value="5">5m</option>
                        <option value="3">3m</option>
                        <option value="2">2m</option>
                        <option value="1">1m</option>
                    </select>
                </div>
            </div>

            <label for="levels" style="float: left">Skill Level (ELO):
                <label for="levels-display">
                    <span id="levels-display">500</span>
                    <div class="some-class">
                        <input type="radio" class="radio" name="50p" value="50" id="50p" />
                        <label for="50p">± 50</label>
                        <input type="radio" class="radio" name="100p" value="100" id="100p" checked="true" />
                        <label for="100p">± 100</label>
                        <input type="radio" class="radio" name="200p" value="200" id="200p" />
                        <label for="200p">±200</label>
                    </div>
                </label>
            </label>
            <input type="range" id="levels" name="levels" min="1" max="1000" step="5">




            <div>
                <button id="submit-button">Create</button>
            </div>

        </div>
    </div>

</body>

<script>
    var canvas = document.getElementById("canvas");
    var form = document.getElementById("form");
    canvas.hidden = true;
    const levelsInput = document.getElementById('levels');
    const levelsDisplay = document.getElementById('levels-display');

    // Update the levels display when the slider value changes
    levelsInput.addEventListener('input', () => {
        levelsDisplay.textContent = levelsInput.value;
    });

    const createBtn = document.getElementById('submit-button');
    createBtn.addEventListener('click', () => {
        console.log("clicked");
        canvas.hidden = false;
        // canvas.hidden = true;
    });
</script>

</html>