body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

#canvas {
    border: 5px solid;
    border-radius: 3px;
    background-color: lightblue;
    padding: 0px;
}

#navTbl{
    border: 3px solid;
    color: gray;
    margin: 5%;
    display: flex;
    background-color: lightblue;
}

#menu {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 440px;
    padding: 20px;
    background-color: rgb(125, 246, 255);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    background-color: rgb(190, 255, 250);
    border-radius: 10px;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); */
}

input[type="text"],
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: 'Helvetica Neue', sans-serif;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #005ea6;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

#levels-display {
    display: inline-block;
    width: 40px;
    text-align: center;
    margin-left: 10px;
    /* float: left; */
}

.some-class {
    margin-top: 10px;
    display: flex;
    clear: none;
}